---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Contact">
  <Container>
    <div class="grid md:grid-cols-1 mx-auto text-center max-w-4xl mt-20">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Want to get in touch? Send an
          email to vandijcksm@gmail.com
        </p>
        </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
