---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Halter",
    description:
      "A collar for beef + dairy that helps farmers grow more grass, improve their conception rates and produce more milk solids than ever before",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Integrated Control Technology",
    description:
      "Commercial Security and Access control technology. Proximity card readers and intrusion detection, controllable via smartphone",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Auckland University of Technology",
    description:
      "Bachelor of Creative Technology followed by a Postgraduate Certificate in Computer Science. Teaching assistant for programming",
    icon: "bi:mortarboard-fill",
  },
  {
    title: "Guitar",
    description:
      "Guitar player of 15+ years, into Progressive Metal and Jazz-Fusion. Music teacher throughout time at university",
    icon: "fa-solid:guitar",
  },
  {
    title: "Lifting",
    description:
      "Gym, powerlifting and general fitness. I enjoy having a hobby that pushes me physically and promotes mental resilience. I'm an addict",
    icon: "mdi:human-barbell",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Bio
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    More about me, what I've worked on and what my passions are.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
