---
import { Picture } from "astro:assets";
import heroImage from "assets/max-portrait.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <div style="border-radius: 15px; overflow: hidden;">
      <Picture
        src={heroImage}
        alt="A Headshot"
        widths={[175, 375, 575]}
        sizes="(max-width: 775px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
      Hi 👋, I'm Max, <br>A Data Scientist from New Zealand
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Currently building the future of farming at Halter. <br/>
    </p>
    <p class="text-lg mt-2 text-slate-600 max-w-xl">
      I'm passionate about building products that have a tangible net positive in the world (the more the better)
      through creating truly effective Machine Learning models.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://www.halterhq.com"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="et:tools-2" />
         &nbspSee what I'm working on
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/maxvandijck"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         GitHub
      </Link>
    </div>
  </div>
</main>
